# Start of memory section
MEMORY
{
   RAM:
      start $0000
      size  $0400
      file  "ram.bin";
   ROM:
      start $FC00
      size  $0400
      file  "rom.bin";
   VGA:
      start $8000
      size  $0400;
}

SEGMENTS
{
   CODE:
      load = ROM
      type = ro;
   RODATA:
      load = ROM
      type = ro;
   DATA:
      load = RAM
      type = rw;
   VECTORS:
      load = ROM
      type = ro
      start = $FFFA;
}

